.news,
.single-post,
.search {
  main {
    @include secondthought-container;
    @include pad(0 $gutter/2);
  }

  section {
    @include span-columns(12);
  }

  article {
    background-color: #fff;
    //padding: 30px;
    border-radius: 5px;
  }

  .read-more {
    @extend %button-base;
  }
}

.single-post {
  article {
    padding: 30px;

    .date {
      font-size: 1em;
      color: $brand-color-1;
      line-height: 24px;
      text-transform: uppercase;
      font-weight: 300;
      font-style: normal;
      margin: 0 0 $gutter 0;
    }
  }
}

.news {
  section {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;

  }
  article {
    // margin: $gutter*2 0;
    display: flex;
    // flex-wrap: wrap;
    @include media($sm-down) {
      flex-direction: column;
    }
    @include media($md-up) {
      flex-direction: row;
    }

    .thumbnail {
      flex: 1 1 25%;
      margin-right: $gutter;
      @include media($sm-down) {
        margin-bottom: 1em;
      }
      a, img {
        display: block;
      }
    }
    .content {
      flex: 1 1 75%;
    }
  }

  .sticky {
    background-color: #fafafa;
    @include shadow-2dp;
    padding: $gutter/2;
  }
}

.basic-news-loop {
  margin-top: 30px;
  .content {
    padding-bottom: 24px;
  }
  .title {
    font-size: 1.25em;
    color: #4F4F4F;
    line-height: 19px;
    a {
      color: #4F4F4F;
    }
  }
  p {
    color: #888888;
    margin: 15px 0 0;
  }
  .date {
    font-size: 1em;
    color: $brand-color-1;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
    margin: 0;
  }
  .read-more {
    float: right;
  }
}

.legacy {
  .basic-news-loop {
    .title {
      font-size: 1em;
      color: #4F4F4F;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 16px;
      a {
        color: #4F4F4F;
      }
    }
    p {
      color: #888888;
      margin: 15px 0 0;
    }
    .date {
      font-size: .75rem;
      color: $brand-color-1 !important;
      line-height: 1.5;
      text-transform: uppercase;
      font-weight: 300;
      font-style: normal;
      margin: 0;
    }
    .read-more {
      float: right;
    }
  }
}
