header.header {
  background: #fff;
  // border-bottom: 1px solid #fafafa;
  @include shadow-2dp();
  position: relative;
  z-index: 1000;
}
.header-inner {
  @include secondthought-container;
  @include pad(0 $gutter/2);
  .logo {
    @include media($navigation-breakpoint-down) {
      // @include span-columns(12);
      @include span-columns(6);
      margin: 12px 0;
      max-width: 140px;
    }

    @include media($navigation-breakpoint-up) {
      margin-top: 30px;
      margin-bottom: 30px;
      float: left;
      display: block;
      width: 100%;
      max-width: 230px;
    }


    a {
      display: block;

    }
    img {
      display: block;
      width: 100%;

      @include media($xs) {
        max-width: 134px;
      }

      @include media($sm-up) {

      }
    }
  }
}
